# Ignore large data files
data/*.csv
data/*.xlsx

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Tableau temporary files
*.twbr
*.log
